{% extends 'App-teacher/base.html' %} {% load static %} {% block title %}Dashboard{% endblock title %} {% block main %}
<main id="main" class="main">
  <div class="pagetitle">
    <h1>Data Tables</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'admins:homepage' %}">Home</a></li>
        <li class="breadcrumb-item">Supervisor</li>
        <li class="breadcrumb-item active">Assign Supervisor</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->
  <section class="section">
    <div class="row">
      <div class="col-lg-12 col-md-6">
        <div class="card">
          <div class="card-body">
            <div class="select-semester">
              <select class="form-select" aria-label="Default select example">
                <option selected>Select Semester</option>
                <option value="1">Spring-2021</option>
                <option value="2">Fall-2021</option>
                <option value="3">Summer-2021</option>
                <option value="3">Spring-2022</option>
                <option value="3">Fall-2022</option>
              </select>
            </div>
            <div class="container">
              <table id="example" class="table table-striped datatable" style="width: 100%">
                <thead>
                  <tr>
                    <th>Student ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Message</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% if self_student_list %}{%for self_student in self_student_list %}
                  <tr>
                    <td>{{ self_student.student_id_id }}</td>
                    <td>{{ self_student.student_id.admin.first_name }}</td>
                    <td>{{ self_student.student_id.admin.email }}</td>
                    <td>{{ self_student.message_title }}</td>

                    <td>
                      <a class="btn btn-primary" href="{% url 'teacher:sendStudentMessage' self_student.id %}"
                        ><i class="bi bi-pencil-square"></i>Message</a
                      >
                    </td>
                  </tr>
                  {% endfor %}{% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- End #main -->
{% endblock main %}
